# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.
#
# ,--------.      ,--.   ,--. ,--.
# '--.  .--',---.  \  `.'  /,-'  '-.
#    |  |  | .-. :  .'    \ '-.  .-'
#    |  |  \   --. /  .'.  \  |  |
#    `--'   `----''--'   '--' `--'

## => Build
##############################
markdown    : kramdown
highlighter : rouge
permalink   : date

## => Site Settings
##############################
title       : "郭子的博客"
# this means to ignore newlines until "Language & timezone"
description : "专注 C/C++ 高性能编程"
  
## => Language and Timezone
##############################
lang: zh-CN # the language of your site, default as "en", e.g. "en", "zh-CN", "zh-TW"
timezone: Asia/Shanghai # see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the available values

## => Theme settings
##############################
site_theme: default # "default" (default), "dark", "forest", "ocean", "chocolate", "orange"
highlight_theme: tomorrow-night # "default" (default), "tomorrow", "tomorrow-night", "tomorrow-night-eighties", "tomorrow-night-blue", "tomorrow-night-bright"

url     : https://shines77.github.io # the base hostname & protocol for your site e.g. https://www.someone.com
baseurl : / # does not include hostname

## => Your GitHub Repository (if the site is hosted by GitHub)
##############################
repository: shines77/shines77.github.io
repository_tree: master

## => UI settings
##############################
header:
  always_on_top: true # true (default), false. Whether fixed the header area always on the page top.

  navbar:
    show_icon: true # false (default), true. Whether to display the icon for the text on the navigation bar.
    text_spacing: true # false (default), true. Whether to display the spacing between the text on the navigation bar.
    vertical_divider: false # false (default), true. Whether to display the vertical divider of the text on the navigation bar.

page:
  article:
    sidebar:
      enabled: false # false (default), true.
      nav: false # false (default), true.
      toc: false # false (default), true.

    aside:
      enabled: true # false (default), true.
      toc: true # false (default), true.

## => Author and Social
##############################
author:
  type      : person # "person" (default), "organization"
  name      : 郭子 # Your name or nickname
  fullname  : "郭雄辉" # Your full-name
  nickname  : shines77 # Your nickname
  url       : https://shines77.github.io
  avatar    : # path or url of avatar image
  bio       : I am an amazing person.
  email     : gz_shines@msn.com
  facebook  : xionghui.guo.9 # "user_name" the last part of your profile url, e.g. https://www.facebook.com/user_name
  twitter   : gz_shines # "user_name" the last part of your profile url, e.g. https://twitter.com/user_name
  googleplus: # "user_id"   the last part of your profile url, e.g. https://plus.google.com/u/0/user_id
  weibo     : 1898686041 # "user_id"   the last part of your profile url, e.g. https://www.weibo.com/user_id/profile?...
  douban    : # "user_name" the last part of your profile url, e.g. https://www.douban.com/people/user_name/
  linkedin  : # "user_name" the last part of your profile url, e.g. https://www.linkedin.com/in/user_name/
  github    : shines77 # "user_name" the last part of your profile url, e.g. https://github.com/user_name
  npm       : # "user_name" the last part of your profile url, e.g. https://www.npmjs.com/~user_name
  telegram  : # "user_name" the last part of your profile url, e.g. https://t.me/user_name

##
## The post's date is in the future.
## See: https://stackoverflow.com/questions/30625044/jekyll-post-not-generated
##
future: true # false (default), true

source:      .
destination: ./_site

## => Paths
##############################
paths:
  root        : # title link url, "/" (default)
  home        : # home layout url, "/" (default)
  categories  : # "/categories.html" (default)
  archives    : # "/archives.html" (default)
  tags        : # "/tags.html" (default)
  about       : # "/about.html" (default)
  rss         : # "/feed.xml" (default)

## -> Posts
##############################
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: article
      comment: true
      sharing: true
      license: true
      aside:
        toc: true
      show_edit_on_github: true
      show_subscribe: true
      pageview: true

## excerpt
excerpt_separator: <!--more-->

## license
license: CC-BY-NC-SA-4.0 # "CC-BY-4.0", "CC-BY-SA-4.0", "CC-BY-NC-4.0", "CC-BY-ND-4.0", "CC-BY-NC-SA-4.0"

## TOC
toc:
  selectors: "h1,h2,h3,h4" # "h1,h2,h3,h4" (default)

## => Copyright author information
##############################
# The original author information display on the page footer copyright.
original_author: # (Please don't need to modify here)
  name          : "Qi Tian" # The full name of original author.
  nickname      : kitian616 # The nickname of original author.
  display_name  : "Qi Tian" # The display name of original author.
  url           : https://tianqi.name/jekyll-TeXt-theme # The site url of the original author, e.g. https://your_domain_name/your_path
  description   : "TeXt is a super customizable theme for Jekyll." # Description

# The last modified authors information display on the page footer copyright.
last_modified_authors: # (Please don't need to modify here)
  - first:
    name          : "Guo XiongHui" # The full name of last modified author.
    nickname      : shines77  # The nickname of last modified author.
    display_name  : shines77 # The display name of last modified author.
    url           : https://github.com/shines77/jekyll-theme-text # The site url of the last modified author, e.g. https://your_domain_name/your_path
    description   : "TeXt is a super customizable theme for Jekyll, modified by shines77." # Description

  # Next modified author(hacker) information

  # - second:  # The Id of next modified author.
  #   name        : # The fullname of next modified author.
  #   nickname    : # The nickname of next modified author.
  #   display_name: # The display name of next modified author.
  #   url         : # The git repository url of next modified author.
  #   description : # The description of next modified author.

# The source code information display on the page footer copyright.
source_code:
  hosted_site   : "GitHub" # "GitHub" (default), The hosted site for your repository, e.g. "GitHub", "GitLab", "Bitbucket" or "GiTee"
  name          : "Guo XiongHui" # Your full name
  nickname      : shines77 # Your nickname
  repo_username : shines77 # Your github username or other git site's username
  repo_url      : https://github.com/shines77/shines77.github.io # The repository url of the source code, e.g. https://github.com/user_name/repository_name
  description   : "TeXt is a super customizable theme for Jekyll." # Description

## => Plugins
##############################
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-default-layout
  - jemoji-plus
  - jekyll-archives
  - jekyll/tagging
  - jemoji
  # - jekyll-target-blank

## => Markdown Enhancements
##############################
## Mathjax
mathjax: true # true (default), true
mathjax_autoNumber: true # false (default), true

## Mermaid
mermaid: # false (default), true

## Chart
chart: # false (default), true

## => Paginate
##############################
paginate: 8
paginate_path: /page:num # don't change this unless for special need

## => Font Awesome
font_awesome:
  # Get the newest version from https://fontawesome.com
  url: https://use.fontawesome.com/releases/v5.6.3/css/all.css

## => Sources
##############################
sources: bootcdn # bootcdn (default), unpkg

## => Sharing
##############################
sharing:
  provider: false # false (default), "addtoany", "addthis", "custom"

  ## AddThis
  addthis:
    id: # AddThis pubid, e.g. ra-5xxxxxxxxxxx

## => Comments
##############################
comments:
  provider: gitalk # false (default), "disqus", "gitalk", "valine", "custom"

  ## Disqus
  disqus:
    shortname: # the Disqus shortname for the site

  ## Gitalk
  # please refer to https://github.com/gitalk/gitalk for more info.
  gitalk:
    clientID    : bfbbba08243e0c7fc20f # GitHub Application Client ID
    clientSecret: a52e78240a76f33e1f4c40649752cb620fcdbebc # GitHub Application Client Secret
    repository  : gitalk-comments # GitHub repo
    owner       : shines77 # GitHub repo owner
    admin: # GitHub repo owner and collaborators, only these guys can initialize GitHub issues, IT IS A LIST.
      - shines77

  ## Valine
  # please refer to https://valine.js.org/en/ for more info.
  valine:
    app_id      : # LeanCloud App id
    app_key     : # LeanCloud App key
    placeholder : # Prompt information

## => Pageview
##############################
pageview:
  provider: false # false (default), "leancloud", "custom"

  ## Leancloud
  leancloud:
    app_id    : # LeanCloud App id
    app_key   : # LeanCloud App key
    app_class : # LeanCloud App class

## => Analytics
##############################
analytics:
  provider: false # false (default), "google", "custom"

  ## Google Analytics
  google:
    tracking_id : # Google Analytics id for the site
    anonymize_ip: false # Anonymize IP tracking for Analytics

## => Search
##############################
search:
  provider: default # "default" (default), false, "google", "custom"

  ## Google Custom Search Engine
  google:
    custom_search_engine_id: # Google Custom Search Engine ID

########################################################
# jemoji setting
#
# See: https://github.com/jekyll/jemoji
#
# command:
# gem install gemoji
# bundle exec gemoji extract assets/images/emoji
#
########################################################
emoji:
  # src: "/static/images/icons/emoji"
  src: "https://github.githubassets.com/images/icons/"

########################################################
# jemoji-plus setting
########################################################
jekyll_plus:
  # The emoji's image host url, 'https://github.githubassets.com' (default).
  # The trailing can't end with '/', and it's can be setting to '' (empty string).
  host: 'https://github.githubassets.com'

  # The emoji's image path of above host url, '/images/icons/' (default).
  # If it must start with '/' character, and it's can not be a empty string.
  path: '/images/icons/'

  image:
    class: 'emoji'    # The emoji's css class name. 'emoji' (default)
    ext_name: 'png'   # The emoji's image file extension. 'png' (default), 'jpg', 'jpeg', 'svg'
    width: 20         # The emoji's image width. 20 (default)
    height: 20        # The emoji's image height. 20 (default)

  format:
    #
    # [image-baseurl]: The emoji's image base URL, value = '[jemoji_plus.host][jemoji_plus.path]'
    # [image-filename]: The emoji's image file name, like: '1f371'
    # [image-extname]: The emoji's image file extension, like: 'png'
    #
    # Example:
    #
    #   https://github.githubassets.com/images/icons/emoji/unicode/1f371.png?v8
    #
    image_src: '[image-baseurl]emoji/unicode/[image-filename].[image-extname]?v8'

    #
    # [emoji-class]: The emoji's css class name, value = [jemoji_plus.image.class]
    # [emoji-name]: The emoji's alias name.
    # [emoji-image-src]: The emoji's image source url, value = [jemoji_plus.format.image_src]
    #
    # Example:
    #
    #   <img class="github-emoji" title="bento" alt="bento" src="https://github.githubassets.com/images/icons/emoji/unicode/1f371.png?v8" width="20" height="20" />
    #
    emoji_html: '<img class="[emoji-class]" title="[emoji-name]" alt="[emoji-name]" src="[emoji-image-src]" width="[emoji-width]" height="[emoji-height] />'

exclude:
  - CHANGELOG.md
  - HOW_TO_RELEASE.md
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README-*.md
  - README.md
# - robots.txt
  - github-pages.txt
  - gem-cmds.txt
  - gulpfile.js
  - jekyll-text-theme.gemspec
  - jekyll-theme-text.gemspec
  - package-lock.json
  - package.json
  - /favicon-old.ico
  - /docs
  - /node_modules
  - /screenshots
  - /test
  - /vendor
# - /bin
  - /tools
  - /_release
