{%- assign _categories = site.categories | sort -%}
{%- include snippets/get-locale-string.html key='SHOWALL' -%}
{%- assign _locale_show_all = __return -%}
<div class="site-categories js-categories">
  <ul class="button-menu">
    <li>
      <button type="button" class="button button-rounded category-button category-primary-button category-button-all" data-encode="">
        {{ _locale_show_all }} <div class="category-button-count">{{ site.posts | size }}</div>
      </button>
    </li>
    {%- for _category in _categories -%}
      <li>
        <button type="button" class="button button-rounded category-button category-secondary-button" data-encode="{{ _category.first | strip | url_encode }}">
          <span>[ {{ _category.first | strip }} ]</span> <div class="category-button-count">{{ _category.last.size }}</div>
        </button>
      </li>
    {%- endfor -%}
  </ul>
</div>
