{%- include snippets/get-header-always-on-top.html -%}
{%- assign _header_always_on_top = __return -%}

{%- if _header_always_on_top != false -%}
<div class="footer_dividing-line"></div>
{%- endif -%}
<footer class="footer py-4 js-page-footer">
  <div class="main">
    {%- assign _site_author = site.author -%}
    {%- if _site_author.type == 'organization' -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Organization' -%}
    {%- else -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Person' -%}
    {%- endif -%}
    <div itemscope itemtype="{{ _site_author_itemtype }}">
      <meta itemprop="name" content="{{ _site_author.name }}">
      {%- assign _site_author_url = _site_author.url | default: '/'-%}
      {%- include snippets/get-nav-url.html path=_site_author_url -%}
      {%- assign _site_author_url = __return -%}
      <meta itemprop="url" content="{{ _site_author_url }}">
      {%- if _site_author.bio -%}
        <meta itemprop="description" content="{{ _site_author.bio }}">
      {%- endif -%}
      <div class="footer_author-links">
        {%- include author-links.html author=_site_author -%}
      </div>
    </div>
    {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
    {%- assign _locale_copyright_dates = __return -%}
    <div class="site-info mt-2">
      <div>
        {%- assign _last_modified_authors_format = '<a href="[AUTHOR_URL]" title="[AUTHOR_DESCRIPTION]" target="_blank">[AUTHOR_NAME]</a>' -%}
        {%- assign _last_modified_authors_str = '' -%}
        {%- assign _last_modified_authors = site.last_modified_authors -%}
        {%- for _modified_author in _last_modified_authors -%}
          {%- assign _modified_author_str = _last_modified_authors_format -%}
          {%- assign _modified_author_str = _modified_author_str | replace: '[AUTHOR_URL]', _modified_author.url | replace: '[AUTHOR_DESCRIPTION]', _modified_author.description | replace: '[AUTHOR_NAME]', _modified_author.display_name -%}
          {%- if forloop.last -%}
            {%- assign _last_modified_authors_str = _last_modified_authors_str | append: _modified_author_str -%}
          {%- else -%}
            {%- assign _last_modified_authors_str = _last_modified_authors_str | append: _modified_author_str | append: ', ' -%}
          {%- endif -%}
        {%- endfor -%}
        {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
        {%- assign _locale_copyright_dates = __return -%}
        {%- include snippets/get-locale-string.html key='COPYRIGHT_DESCRIPTION' -%}
        {%- assign _locale_copyright_description = __return -%}
        {%- include snippets/get-locale-string.html key='SPECIAL_THANKS_FORMAT' -%}
        {%- assign _locale_special_thanks_format = __return -%}
        {%- include snippets/get-locale-string.html key='SOURCE_SITE_FORMAT' -%}
        {%- assign _locale_source_site_format = __return -%}
        {%- if site.source_code.hosted_site -%}
          {%- assign __source_hosted_site = site.source_code.hosted_site -%}
        {%- else -%}
          {%- assign __source_hosted_site = "GitHub" -%}
        {%- endif -%}
        © {{ _locale_copyright_dates }} <a href="{{ site.url }}" title="{{ _locale_copyright_description | replace: '[AUTHOR_NAME]', site.author.name }}">{{ site.author.name }}</a>, Powered by: <a href="http://jekyllrb.com/" title="Jekyll is a simple, blog-aware, static site generator" target="_blank">Jekyll</a>, Theme: <a href="{{ site.last_modified_authors.first.url }}" title="{{ site.last_modified_authors.first.description }}" target="_blank">TeXt Theme</a> .<br/>
        {{ _locale_special_thanks_format | replace: '[ORIGINAL_URL]', site.original_author.url | replace: '[ORIGINAL_DESCRIPTION]', site.original_author.description | replace: '[ORIGINAL_AUTHOR]', site.original_author.display_name | replace: '[LAST_MODIFIED_AUTHORS]', _last_modified_authors_str }}<br/>
        {{ _locale_source_site_format | replace: '[SITE_URL]', site.source_code.repo_url | replace: '[SITE_DESCRIPTION]', site.source_code.description | replace: '[HOSTED_SITE]', __source_hosted_site }}<br/>
        &nbsp;<br/>
      </div>
    </div>
  </div>
</footer>