.swiper {
  position: relative;
  @include overflow(hidden);
}

.swiper_wrapper, .swiper_slide {
  width: 100%;
  height: 100%;
}

.swiper_wrapper {
  @include flexbox();
}

.swiper_wrapper-animation {
  @include transition(transform map-get($animation, duration) map-get($animation, timing-function));
}

.swiper_slide {
  @include flex-shrink(0);
  & > img {
    max-width: 100%;
  }
}

.swiper_button {
  position: absolute;
  top: 50%;
  @extend .button, .button-circle;
  @include transform(translate(0, -50%));
  @include clickable($text-color-d, rgba($main-color-3, .4));
}

.swiper-light .swiper_button {
  @include clickable($text-color-theme-light, rgba($main-color-theme-dark, .4));
}

.swiper-dark .swiper_button {
  @include clickable($text-color-theme-dark, rgba($main-color-theme-light, .4));
}

.swiper_button-prev {
  left: 10px;
}

.swiper_button-next {
  right: 10px;
}