.site-archives {
  .archive-primary-button {
    @include clickable($text-color-1, rgba($main-color-1, .55), default, default, $text-color-2, $main-color-2, $text-color-2, $main-color-2);
  }
  .archive-secondary-button {
    @include clickable($text-color-3, $main-color-3, default, default, $text-color-2, $main-color-2, $text-color-2, $main-color-2);
  }
  .archive-button {
    & > .archive-button-count {
      display: inline-block;
      margin-left: map-get($spacers, 1);
      font-size: map-get($base, font-size-archive-total);
      line-height: 1;
      vertical-align: top;
    }
  }
}