.article_footer {
  margin: map-get($spacers, 4) 0;
  font-size: map-get($base, font-size-article-footer);
}

.article_license, .article_subscribe {
  a {
    @include link-colors($text-color, $main-color-1);
  }
}

.article_license {
  color: $text-color-l;
  img {
    width: map-get($base, article-license-image-wdith);
    height: map-get($base, article-license-image-height);
  }
}