{%- include snippets/get-locale-string.html key='LICENSE_ANNOUNCE' -%}
{%- assign _license_announce = __return -%}

{%- include snippets/get-license-string.html key=include.license_key -%}
{%- assign _license_name = __return -%}

{%- if include.license -%}
  {%- assign _license_link = '<a itemprop="license" rel="license" href="[URL]">[NAME]</a>' | replace: "[URL]", include.license.url | replace: "[NAME]", _license_name -%}
  <div class="license">
    <p>
      <a rel="license" href="{{ include.license.url }}">
        <img alt="{{ include.license.name }}" src="{{ include.license.image }}" />
      </a><br/>
      {%- if site.author.nickname -%}
        {{ _license_announce | replace: "[LICENSE]", _license_link | replace: "[AUTHOR_NAME]", site.author.fullname | replace: "[AUTHOR_NICKNAME]", site.author.nickname | replace: "[AUTHOR_SITE]", site.author.url | replace: "[EMAIL]", site.author.email }}
      {%- else -%}
        {{ _license_announce | replace: "[LICENSE]", _license_link | replace: "[AUTHOR_NAME]", site.author.fullname | replace: " or <b>[AUTHOR_NICKNAME]</b>", "" | replace: "[AUTHOR_SITE]", site.author.url | replace: "[EMAIL]", site.author.email }}
      {%- endif -%}
    </p>
  </div>
{%- endif -%}